@tailwind base;
@tailwind components;
@tailwind utilities;

/* #containe {
    position: absolute;
    margin-top: 250px;
}
#ChildContainer1{

    width: screen;
    height: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 385px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px black;
    background-color: #e66872;
    padding: 5px;
}
@media only screen and (max-width:1024px){

  form {
    margin: 20px;
  }
} */